APP_ENV=production
APP_SECRET=TROQUE_POR_UMA_STRING_ALEATORIA_LONGA
APP_URL=https://sismx.com.br

DB_HOST=localhost
DB_PORT=3306
DB_NAME=impress8_producao_sis
DB_USER=impress8_producao
DB_PASS=SUA_SENHA_AQUI

MAIL_HOST=mail.sismx.com.br
MAIL_PORT=587
MAIL_USER=noreply@sismx.com.br
MAIL_PASS=SUA_SENHA_EMAIL
MAIL_FROM=noreply@sismx.com.br
MAIL_FROM_NAME=Sistema MX
